<ng-template [ngxPermissionsOnly]="item.permissionRequired" *ngIf="item.navCap">
  <div mat-subheader class="nav-caption">
    {{ item.navCap }}
  </div>
</ng-template>

<ng-template [ngxPermissionsOnly]="item.permissionRequired">
  <a
    mat-list-item
    (click)="onItemSelected(item)"
    [ngClass]="{
    'mat-toolbar mat-primary activeMenu': item.route
      ? router.isActive(item.route, true)
      : false,
  }"
    class="menu-list-item primary"
    *ngIf="!item.navCap"
  >
    <i-tabler
      class="routeIcon"
      name="{{ item.iconName }}"
      matListItemIcon
    ></i-tabler>
    <span class="hide-menu">{{ item.displayName }}</span>
  </a>
</ng-template>
